html {
  font-size: 16px;
  color: white;
  background-color: black;
}

body {

}

header {
 background-color: white;
 height: 4rem;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 z-index: 1;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.bullet {
  font-size: 2rem;
  color: black;
}

.banner {
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-image: url('mikesxp.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 55rem;
  height: auto;
  width: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
}

video {
  flex-shrink: 1;
  flex-grow: 1;
  border: 1px solid white;
  border-radius: 4px;
  min-height: 5rem;
  min-width: 7rem;
  max-height: 25rem;
  max-width: 100%;
  height: auto;
  width: auto;
  align-self: center;
}

ul {
  display: flex;
  justify-content: flex-start;
}

header h1 {
  font-size: 2.25rem;
}

header li {
  flex-shrink: 1;
  list-style: none;
  padding: 0 .5rem;
  align-content: center;
}

header a {
  flex-shrink: 1;
  font-size: 1.25rem;
  font-family: 'Righteous', sans-serif;
  text-decoration: none;
  color: maroon;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 .5rem;
}

header a:nth-child(2n+2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

header a:hover {
  color: black;
  text-decoration: underline;
}

@media only screen and (max-width: 299px) {
  header a {
    font-size: .5rem;
  }

  header li {
    padding: 0;
  }

}


@media only screen and (min-width:300px) and (max-width: 480px) {
  header a {
    font-size: .625rem;
  }

  header li {
    padding: 0;
  }

  video {
    width: 100%;
  }

}

@media only screen and (min-width:481px) and (max-width: 720px) {
  header a {
    font-size: .75rem;
  }

  header li {
    padding: 0;
  }

}

@media only screen and (min-width:721px) and (max-width: 900px) {
  header a {
    font-size: .875rem;
  }

  header li {
    padding: 0;
  }

}

@media only screen and (max-device-width: 299px) {
  header a {
    font-size: .5rem;
  }

  header li {
    padding: 0;
  }

}


@media only screen and (min-device-width:300px) and (max-device-width: 480px) {
  header a {
    font-size: .625rem;
  }

  header li {
    padding: 0;
  }

}

@media only screen and (min-device-width:481px) and (max-device-width: 720px) {
  header a {
    font-size: .75rem;
  }

  header li {
    padding: 0;
  }

}

@media only screen and (min-device-width:721px) and (max-device-width: 900px) {
  header a {
    font-size: .875rem;
  }

  header li {
    padding: 0;
  }

}
