html {
  font-size: 16px;
  color: white;
}

body {
  background-color: black;
}

header {
 background-color: white;
 height: 4rem;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 z-index: 1;
}
.header {
  display: flex;
  justify-content: flex-start;
}

.bullet {
  font-size: 2rem;
  color: black;
}

.banner {
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-image: url('mikesxp.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
  height: 48rem;
}

.banner-container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-content: space-between;

}

video {
  flex-shrink: 1;
  flex-grow: 1;
  border: 1px solid white;
  border-radius: 4px;
  height: 25rem;
  width: 50%;
  align-self: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

header h1 {
  font-size: 2.25rem;
}

header li {
  flex-shrink: 1;
  list-style: none;
  padding: 0 1rem;
}

header a {
  flex-shrink: 1;
  font-size: 1.25rem;
  font-family: 'Righteous', sans-serif;
  text-decoration: none;
  color: maroon;
  display: flex;
  align-items: center;
}

header a:hover {
  color: black;
  text-decoration: underline;
}

@media only screen and (min-width:300px) and (max-width: 480px) {
  header a {
    font-size: .5rem;
  }

  .bullet {
    font-size: 1rem;
    padding: 0 .25rem;
  }

  header li {
    padding: 0;
  }

}

@media only screen and (max-device-width: 299px) {
  header a {
    font-size: .5rem;
  }

  .bullet {
    font-size: 1rem;
    padding: 0 .25rem;
  }

  header li {
    padding: 0;
  }

}


@media only screen and (min-device-width:300px) and (max-device-width: 480px) {
  header a {
    font-size: .5rem;
  }

  .bullet {
    font-size: 1rem;
    padding: 0 .25rem;
  }

  header li {
    padding: 0;
  }

}
